<h1>The Hottest Reads You Ain't Neva Seen!</h1>
<p>
  <div id="hot_reads">
    <ol>
      <% @links.each do |link| %>
      <li>
        <%= link_to link.title, link.url %>
      </li>
     <% end %>
    </ol>
  </div>
</p>
